@{
    ViewData["Title"] = "Introduction";
}

<div class="text-center">
    <h3 class="display-4">Navjot Singh</h3>
</div>

@section container{
    <p>My name is Navjot Singh.I am from Punjab, India.I am attending Mobile application development program this year.</p>
}
 

<form action="/action_page.php">
    <label for="fname">Enter First Number:</label><br>
    <input type="Number" name="number" value="10"></input><br>
    <label for="fname">Enter Second Number:</label><br>
    <input type="Number" name="Snumber" value="55"></input><br>
    <input type="submit" value="Sumbit">
</form>
